{
  "extends": "airbnb",
  "rules": {
    "no-shadow": 0,
    "new-cap": 0,
    "no-prototype-builtins": 0,
    "no-console": 0,
    "arrow-body-style": 0,
    "react/forbid-prop-types": 0,
      "react/jsx-filename-extension": [
        1, {
          "extensions": [".js"]
        }
      ]
  },
  "env": {
    "jest": true
  }
}
